.table {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 90%;
  margin: 0 auto 15px auto;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover :not(th span) {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  cursor: pointer;
}
